[submodule "src/barracuda-thrusters"]
	path = src/barracuda-thrusters
	url = https://github.com/usc-robosub/barracuda-thrusters.git
	branch = jetson-orin-nano-ros2-humble
[submodule "barracuda-control"]
	path = src/barracuda-control
	url = https://github.com/usc-robosub/barracuda-control.git
	branch = ros2-pkg
[submodule "src/barracuda-ping-360"]
	path = src/barracuda-ping-360
	url = https://github.com/usc-robosub/barracuda-ping-360.git
	branch = ros2
[submodule "src/barracuda-description"]
	path = src/barracuda-description
	url = https://github.com/usc-robosub/barracuda-description.git
	branch = ros2-rsp
[submodule "src/barracuda-dvl"]
	path = src/barracuda-dvl
	url = https://github.com/usc-robosub/barracuda-dvl.git
	branch = ros2
